*.suo
/CalendarApi.ConsoleTest.sln
packages
/CalendarApi.ConsoleTest
obj
bin
/Acco.Calendar.Console
/.nuget
/Acco.Calendar/Acco.Calendar.work.csproj
/CalendarApi.work.sln
/Acco.Calendar/GoogleCalendar/*.TMP
/Acco.Calendar/OutlookCalendar/*.TMP
/Acco.Calendar/OutlookCalendar/*.ev4
