*.suo
/CalendarApi.ConsoleTest.sln
packages
/CalendarApi.ConsoleTest
obj
bin
/Acco.Calendar.Console
/OpenCalendarSync.Lib/Acco.Calendar.work.csproj
/CalendarApi.work.sln
/OpenCalendarSync.Lib/GoogleCalendar/*.TMP
/OpenCalendarSync.Lib/OutlookCalendar/*.TMP
/OpenCalendarSync.Lib/OutlookCalendar/*.ev4
/Acco.Calendar.Console.Work
*.TMP
*.user
*.work*
*.exe
/OpenCalendarSync.App/GoogleToken.cs
*.DotSettings
*.bak
